* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
main {
  background-image: url(images/photo_2025-11-24_05-34-52.jpg);
  margin: 0;
  padding: 20px;
}
.form,
.order,
.follow {
  width: 60%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(246, 241, 234, 0.792);
}
.form h2,
.order h2,
.follow h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 35px;
}
.form form,
.order form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form form input,
.form form textarea,
.order form input,
.order form select,
.order form button {
  margin-bottom: 15px;
  margin-top: 7px;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 50%;
}
.form form input[type="submit"],
.order form button {
  background-color: rgb(100, 10, 10);
  color: white;
  border: none;
  cursor: pointer;
}
.form form input[type="submit"]:hover,
.order form button:hover {
  background-color: rgb(70, 2, 2);
}
.follow {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-weight: bold;
}
.follow .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.follow .links a {
  text-decoration: none;
  color: #000;
}
.follow .links a:hover {
  color: rgb(70, 2, 2);
}
.header {
  height: 80px;
  background-color: rgb(246, 241, 234);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  color: rgb(70, 2, 2);
}
.logo {
  font-size: 25px;
  width: 200px;
  height: 170;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar ul li a {
  color: #000000e1;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
}
.navbar ul li button {
     width: 200px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;

}
@media (max-width: 500px) {
  .form h2, .order h2, .follow h2 {
    font-size: 25px;
  }
  .header {
    height: auto;
    flex-direction: column;
    padding-bottom: 0.5rem;
    font-size: 14px;
    font-weight: bold;
  }
  .navbar ul li button {
    padding: 5px;
    font-size: 12px;
  }
}
@media (max-width: 305px) {
  .form h2, .order h2, .follow h2 {
    font-size: 20px;
  }
  .header {
    height: auto;
    flex-direction: column;
    padding-bottom: 0.5rem;
    font-size: 10px;
    font-weight: bold;
  }
  .navbar ul li button {
    padding: 5px;
    font-size: 10px;
  }
}