body{
    background-image: url(photo_2025-11-24_05-34-52.jpg);
    font-family:Arial, sans-serif;
}
.nav{
  display: flex;
    justify-content: space-between;
    align-items: center;
} 
.nav ul {
list-style:none;
}
.nav ul li {
    display: inline-block;
    margin-right: 20px;
}
.nav ul li a button{
  width: 200px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.nav ul li a button:hover {
background-color:burlywood;
}
.container{

    width: 95%;
    margin: 10px;
    padding: 20px;
    background-color:rgba(246, 241, 234, 0.792);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}
.welcome h1{
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
    color:#333;
}
.welcome h2{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #666;
    font-style: italic;
}
.about, .why{
    padding: 10px 30px;
    box-shadow: 10px 12px 15px rgb(203, 203, 203) ;
    border-radius: 20px;
     margin-top: 20px;
}

#aboutus{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    color:black;

    font-style: bold;
}
#para1{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    color:black;
    line-height: 1.6;
    font-style: bold; 
}
#why{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    color:black;
    font-style: larger;
}
#para2{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    color:black;
    line-height: 1.6;
    font-style: larger; 
}
.advantages h2{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    color:black;
    font-style: larger;
}
.advs{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.advs ul li{
    display:inline-block;
    margin-right: 50px;
    font-size: larger;
    font-weight: bold;
    border:1px solid black;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: antiquewhite;
    border-radius: 20px;
}
footer{
    background-color: #f5f5f5;
    text-align: center;
    padding: 15px 0;
    border-top: 2px solid #ccc;
    font-size: 14px;
    color: #555;
    border-radius: 20px;
}
.img2{
    width:100%;
    height:400px;
    border-radius: 20px;
}
